body {
    padding: 0;
    margin: 0 auto;
}

header>.container {
    font-family: Berlin Sans FB;
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
    color: rgb(255, 255, 255);
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 80px 0 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

}

#logo {
    margin: 0;
    padding-right: 60px;
}
.company-name {
    font-size: 1.6rem;
    font-family: Berlin Sans FB;
}

nav {
    margin: 0;
}

nav ul {
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 10px 15px;
    list-style: none;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

button {
    background: rgb(224, 92, 92);
    border-style: ridge;
    border-radius: 30px;
    box-shadow: 1px 1px rgb(214, 209, 203);
    padding: 15px;
    cursor: pointer;
    border: 5px solid rgb(231, 231, 231);
    font-family: verdana;
    text-shadow: 1px 1px 2px #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

.grids {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    /*padding: 0 80px 0 80px;*/
    font-family: verdana;
    font-size: 10px;
    line-height: 1.5;
}

.article-title {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

header {
    border-top: 10px solid rgb(59, 59, 59);
    border-bottom: 10px solid rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    background: url('img/header-1.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}

#subtitle {
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: absolute;
    max-width: 740px;
    height: 250px;
    top: 100px;
    margin: 0 auto;
    background: url('img/header-2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
}

footer {
    font-family: verdana;
    font-size: 10px;
    color: rgb(255, 255, 255);
    background: url('img/footer.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto;
}

.avatar {
    float: left;
    width: 50px;
    padding-right: 5px;
}

.footer-title {
    font-family: Berlin Sans FB;
    font-size: large;
}

#amazing-ideas {
    background: url('img/border-1.jpg');
    border: 5px solid rgb(231, 231, 231);
    height: 100px;
    font-family: Myriad Pro;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#wd-resources {
    background: url('img/border-2.jpg');
    border: 5px solid rgb(231, 231, 231);
    height: 100px;
    font-family: 'Modak', cursive;
    color: rgb(64, 64, 64);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#free-business {
    background: url('img/border-3.jpg');
    border: 5px solid rgb(231, 231, 231);
    height: 100px;
    font-family: Rockwell;
    color: rgb(64, 64, 64);
    font-size: 12px;
    display: block;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

#copyright {
    display: block;
    text-align: right;
    padding-right: 80px;
    font-size: 8px;
    color: rgb(161, 161, 161);
}

@media (min-width: 320px) {
    body,
    footer {
        max-width: 720px;
        padding: 0 80px 0 80px;
    }
}
